@model OfficePortal.Models.Employee_Models.SocialStatusForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SocialStatusForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BayanatiNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BayanatiNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseWorkplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseWorkplace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseDateOfMarriage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseDateOfMarriage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseDateOfEmployment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseDateOfEmployment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfChildren)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfChildren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
